.App {
    
    max-width: 100%;
    min-height: 100vh;

    background-color: #363636;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.header{
    background-color: #363636;
    display: flex;
    justify-content: space-between;
}

.header-logo{
    width: 148px;
    height:68px;
}

.home{
    scroll-snap-align: start;
    width: 100%;
}

.section {
    scroll-snap-align: start;
    /* border: 2px solid white; */
    width: 100%;
    padding-top: 10vh;
    min-height: 100vh;
}

.section-1{
    /* border: 2px solid white; */
    width: 100%;
    min-height: 90vh;
    margin-top: 10vh;
    background: url(./sections/images/section1-bgimg.jpg);
    background-size: cover;
    background-position: center;
}

.section-2 {
    scroll-snap-align: start;
    max-width:100vw;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
}

.section-2-children {
    padding-top: 10vh;
    margin: 0;
    min-width: 100vw;
    min-height: 100%;
}

.section-2a{
    background-color: #606462;
}

.section-2b, .section-4{
    background-color: #9FDC7F;
}

.section-3{
    background: url(./sections/images/section3-bgimg.png);
    background-size: cover;
    background-position: center;
}

.section-5{
    background: radial-gradient(78.03% 83.84% at 50% 50%, #FFFEFF 0%, #9BD97E 100%);
}

.section-6{
    background: #FFFEFF;
}

.active{
    color: #9FDC7F !important;
}