.App {
    max-width: 100%;
    min-height: 100vh;

    background-color: #363636;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.header {
    background-color: #363636;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: clamp(100px, 10vw, 200px);
    height: clamp(50px, 5vw, 100px);
}

.link{
    border-radius: 20px;
    padding: 10px;
}

.link:hover {
    background-color: #FFFEFF;
    color: #178260;
}
.link:hover.active{
    background-color: #9FDC7F !important;
    color: #363636 !important;
}

.contactLink{
    border-radius: 20px;
    background-color: #178260;
    padding: 10px;
    margin: 5px;
}

.contactLink:hover{
    border-radius: 20px;
    background-color: #FFFEFF;
    color: #178260;
}

.contactLink:hover.active{
    margin: 0 calc(0.75rem - 5px);
    border-radius: 20px;
    background-color: #FFFEFF;
    border: 5px solid #178260;
    color: #178260 !important;
}

.contactLink.active{
    margin: 0 calc(0.75rem - 5px);
    border-radius: 20px;
    background-color: #178260;
    border: 5px solid #9FDC7F;
    color: #FFFEFF !important;
}

.home {
    /* scroll-snap-align: start; */
    width: 100%;
}

.section {
    /* scroll-snap-align: start; */
    /* border: 2px solid white; */
    width: 100%;
    padding: 10vh 0 10px 10px;
    min-height: 100vh;
}

.section-1 {
    /* border: 2px solid white; */
    width: 100%;
    min-height: 100vh;
    padding: 10vh 0 1.5vw 1.5vw;
    background: url(./sections/images/section1-bgimg.jpg);
    background-size: cover;
    background-position: center;
}

.section-2 {
    /* scroll-snap-align: start; */
    max-width: 100vw;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.section-2-children {
    padding-top: 10vh;
    margin: 0;
    min-width: 100vw;
}

.section-2a {
    background-color: #606462;
    min-height: 90vh;
}

.section-2b,
.section-4 {
    background-color: #9FDC7F;
}

.section-3 {
    background: url(./sections/images/section3-bgimg.png);
    background-size: cover;
    background-position: center;
}

.section-5 {
    background: radial-gradient(78.03% 83.84% at 50% 50%, #FFFEFF 0%, #9BD97E 100%);
}

.section-6 {
    background: #FFFEFF;
}

.active {
    color: #9FDC7F !important;
}