*, *::before, *::after{
  box-sizing: border-box;
}

html{
  scrollbar-gutter: stable;
}

/* html,body{
  scroll-snap-type: y proximity;
} */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #363636;
}

body::-webkit-scrollbar-thumb {
  border: 2px ridge #606462;
  background: linear-gradient(to bottom, #9FDC7F 50%, #178260 100%);
}
.section-2::-webkit-scrollbar-thumb {
  border: 2px ridge #FFFEFF;
  background: #178260;
}
/* html, body{
  scroll-behavior: smooth;
  
} */

.MuiToolbar-root{
  min-height: 10vh !important;
  padding: 0 7.5vw !important;
}

.MuiPaper-root{
  background-color: #363636 !important;
}

body {
  padding:0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


